#shop {
    padding: 9rem 0;
    color: #2a2a2a;
    border-bottom: 0.3rem dotted #eee;

    h2 {
        font-size: 3.4rem;
        font-weight: 700;
    }
    span {
        font-style: italic;
        color: #a1a1a1;
        font-size: 1.4rem;
    }

    .shopContainer {
        margin: auto;
        display: flex;
        align-items: center;
        max-width: 125rem;
        .chevron {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 5rem;
            border: 0.1rem solid #2a2a2a;
            cursor: pointer;
            i {
                font-size: 1.5rem;
            }
        }
    
        
        .shopPosts {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 6rem;
       
            .card {
                .post {
                    transition: bottom .1s !important;
                    position: relative;

                    width: calc(1140px / 3);
                    height: calc(1140px / 3);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    .animations {
                        .box {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 5rem;
                            height: 5rem;
                            background-color: #fff;
                            position: absolute;
                            bottom: -2rem;
                            visibility: hidden;
                            opacity: 0;
                            font-size: 1.6rem;
                            cursor: pointer;
                        }
                        .box1 {
                            right: 7rem;
                        }
                        .box2 {
                            right: 15.5rem;
                        }
                        .box3 {
                            left: 7rem;
                        }

                       
                    
                    }
                    
                }
                .post:hover .box {
                    bottom: 3.5rem;
                    visibility: visible;
                    opacity: 100%;
                }
                .post1 {
                    background-image: url("./../../../../assets/images/men-01.jpg");
                }
                .post2 {
                    background-image: url("./../../../../assets/images/men-02.jpg");
                }
                .post3 {
                    background-image: url("./../../../../assets/images/men-03.jpg");
                }
                .post4 {
                    background-image: url("./../../../../assets/images/women-01.jpg");
                }
                .post5 {
                    background-image: url("./../../../../assets/images/women-02.jpg");
                }
                .post6 {
                    background-image: url("./../../../../assets/images/women-03.jpg");
                }
                .post7 {
                    background-image: url("./../../../../assets/images/kid-01.jpg");
                }
                .post8 {
                    background-image: url("./../../../../assets/images/kid-02.jpg");
                }
                .post9 {
                    background-image: url("./../../../../assets/images/kid-03.jpg");
                }
                .postContent {
                    padding-top: 3rem;
                    .contentTop {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 0.8rem;
                        h3 {
                            font-size: 2.1rem;
                        }
                        i {
                            font-size: 1.3rem;
                        }


                    }
                    span {
                        font-style: normal;
                        font-size: 1.7rem;
                    }
                }
        
               
            }
        }
    
    }
    
}

@media screen and (max-width:992px) {
    .card3, .card6, .card9 {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .card2, .card3, .card5, .card6, .card8, .card9 {
        display: none;
    }
    .card {
        margin: auto;
    }
}