* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    background-color: gray;
    height: 104px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.card {
    width: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 16px;
    position: relative;
}

.img > img{
    width: 150px;
}

.img {
    position: relative;
}

.leftTop {
    background-color: green;
    color: white;
    width: 70px;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.leftBottom {
    background-color: black;
    color: white;
    width: 70px;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top: 70px;
    left: 10px;

}

.cardRight {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}

.margin {
    margin: 15px 0;
}

