html {
  font-size: 65.2%;
}
html * {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  transition: 0.3s ease;
}
html .container {
  max-width: 114rem;
  margin: auto;
}

@font-face {
  font-family: "poppins";
  src: url("./../../../../assets/fonts/Poppins-Regular.ttf");
}
a {
  font-family: "poppins";
}

#header {
  background-color: #fff;
  font-size: 1.4rem;
  border-bottom: 0.3rem dotted #eee;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  position: sticky;
  top: 0;
}
#header .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
#header .headerContainer ul {
  display: flex;
}
#header .headerContainer ul li {
  margin: 0 1.5rem;
}
#header .headerContainer ul li a {
  color: #2a2a2a;
}
#header .headerContainer ul li .active {
  color: #aaa;
}
#header .headerContainer ul li i {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
#header .headerContainer ul li:hover a {
  color: #aaa;
}

@media screen and (max-width: 992px) {
  .headerContainer {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  ul {
    flex-direction: column;
  }
}
#hero {
  border-bottom: 0.3rem dotted #eee;
  color: #fff;
}
#hero button {
  border: 0.1rem solid #fff;
  background-color: transparent;
  padding: 1.2rem 2.5rem;
  color: #fff;
}
#hero h1 {
  font-size: 5.2rem;
  font-weight: 700;
}
#hero h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
#hero p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 3rem;
}
#hero .heroCards {
  padding: 6rem 1.5rem 4.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "grid1 grid1 grid2 grid3" "grid1 grid1 grid4 grid5";
  grid-gap: 3rem;
  height: 70rem;
}
#hero .heroCards .grid {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .heroCards .grid1 {
  grid-area: grid1;
  background: url("./../../../../assets/images/left-banner-image.jpg") no-repeat;
  background-size: cover;
}
#hero .heroCards .grid2 {
  grid-area: grid2;
  background: url("./../../../../assets/images/baner-right-image-01.jpg") no-repeat;
  background-size: cover;
}
#hero .heroCards .grid3 {
  grid-area: grid3;
  background: url("./../../../../assets/images/baner-right-image-02.jpg") no-repeat;
  background-size: cover;
}
#hero .heroCards .grid4 {
  grid-area: grid4;
  background: url("./../../../../assets/images/baner-right-image-03.jpg") no-repeat;
  background-size: cover;
}
#hero .heroCards .grid5 {
  grid-area: grid5;
  background: url("./../../../../assets/images/baner-right-image-04.jpg") no-repeat;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .heroCards {
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas: "grid1 grid1" " grid2 grid3" "grid4 grid5";
  }
}
@media screen and (max-width: 600px) {
  .heroCards {
    grid-template-columns: repeat(1, 3fr);
    grid-template-areas: "grid1" "grid2" "grid3" "grid4" "grid5";
  }
}
#shop {
  padding: 9rem 0;
  color: #2a2a2a;
  border-bottom: 0.3rem dotted #eee;
}
#shop h2 {
  font-size: 3.4rem;
  font-weight: 700;
}
#shop span {
  font-style: italic;
  color: #a1a1a1;
  font-size: 1.4rem;
}
#shop .shopContainer {
  margin: auto;
  display: flex;
  align-items: center;
  max-width: 125rem;
}
#shop .shopContainer .chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 0.1rem solid #2a2a2a;
}
#shop .shopContainer .chevron i {
  font-size: 1.5rem;
}
#shop .shopContainer .shopPosts {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
}
#shop .shopContainer .shopPosts .card .post {
  width: 380px;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#shop .shopContainer .shopPosts .card .post1 {
  background-image: url("./../../../../assets/images/men-01.jpg");
}
#shop .shopContainer .shopPosts .card .post2 {
  background-image: url("./../../../../assets/images/men-02.jpg");
}
#shop .shopContainer .shopPosts .card .post3 {
  background-image: url("./../../../../assets/images/men-03.jpg");
}
#shop .shopContainer .shopPosts .card .post4 {
  background-image: url("./../../../../assets/images/women-01.jpg");
}
#shop .shopContainer .shopPosts .card .post5 {
  background-image: url("./../../../../assets/images/women-02.jpg");
}
#shop .shopContainer .shopPosts .card .post6 {
  background-image: url("./../../../../assets/images/women-03.jpg");
}
#shop .shopContainer .shopPosts .card .post7 {
  background-image: url("./../../../../assets/images/kid-01.jpg");
}
#shop .shopContainer .shopPosts .card .post8 {
  background-image: url("./../../../../assets/images/kid-02.jpg");
}
#shop .shopContainer .shopPosts .card .post9 {
  background-image: url("./../../../../assets/images/kid-03.jpg");
}
#shop .shopContainer .shopPosts .card .postContent {
  padding-top: 3rem;
}
#shop .shopContainer .shopPosts .card .postContent .contentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}
#shop .shopContainer .shopPosts .card .postContent .contentTop h3 {
  font-size: 2.1rem;
}
#shop .shopContainer .shopPosts .card .postContent .contentTop i {
  font-size: 1.3rem;
}
#shop .shopContainer .shopPosts .card .postContent span {
  font-style: normal;
  font-size: 1.7rem;
}

@media screen and (max-width: 992px) {
  .card3, .card6, .card9 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .card2, .card3, .card5, .card6, .card8, .card9 {
    display: none;
  }
  .card {
    margin: auto;
  }
}
#product {
  padding: 6rem 0;
}
#product button {
  border: 0.1rem solid #000;
  background-color: transparent;
  padding: 1.2rem 2.5rem;
  color: #000;
}
#product h3 {
  font-size: 2.4rem;
}
#product h2 {
  font-size: 3.2rem;
  margin-bottom: 4rem;
}
#product span {
  font-size: 1.4rem;
  font-style: italic;
  color: #aaa;
}
#product p {
  margin-bottom: 4rem;
  font-size: 1.4rem;
  color: #aaa;
}
#product .margin {
  margin-top: 4rem;
}
#product .container .productCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "grid1 grid1 grid2 grid3" "grid1 grid1 grid4 grid5";
  gap: 2rem;
  height: 60rem;
}
#product .container .productCards .grid {
  background-repeat: no-repeat;
  background-size: cover;
}
#product .container .productCards .grid span {
  color: #000;
  font-style: normal;
}
#product .container .productCards .grid1 {
  grid-area: grid1;
}
#product .container .productCards .grid2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-area: grid2;
  background-color: #eee;
}
#product .container .productCards .grid3 {
  grid-area: grid3;
  background: url("./../../../../assets/images/kid-01.jpg");
}
#product .container .productCards .grid4 {
  grid-area: grid4;
  background: url("./../../../../assets/images/kid-03.jpg");
}
#product .container .productCards .grid5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-area: grid5;
  background-color: #eee;
}/*# sourceMappingURL=main.css.map */